# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Packaging / build
build/
dist/
*.egg-info/

# =========================
# Test / coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.json

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# FastAPI / Uvicorn
# =========================
uvicorn.log

# =========================
# Ruff Cache
# =========================
.ruff_cache

# =========================
# Data (local only)
# Keep exampl

# =========================
# Terraform
# =========================
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars.backup
.terraformrc
terraform.rc
